

.advantages__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.advantages__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 30px) / 2);
        margin-bottom: 30px;

        &:nth-child(2n-1) {
            margin-right: 30px;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 3 * 30px) / 4);
        margin-right: 30px;
    
        &:last-child {
            margin-right: 0;
        }
    }

}


.advantages__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--filters-btn-color);
}


.advantages__icon {
    width: 70px;
    height: 70px;
}


.advantages__header {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);

    @media screen and (max-width: ($tablet - 1)) {
        text-align: center;
    }
}


.advantages__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


